<div class="card card-blog">
    <img class="card-image" src="https://cdn.dribbble.com/users/63407/screenshots/3527699/dribbble_frangipani.png" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="ftr">
            <div class="author">
                <img src="src/assets/image/foto.jpg" class="avatar img-raised">
                <span>Thiago Guedes</span>
            </div>

            <div class="stats">
                <i class="fa fa-eye"></i> 3,077
                <i class="fa fa-comment"></i> 11
                <i class="fa fa-heart"></i> 386
            </div>
        </div>
    </div>
</div>