<div class="container">

    <div class="justify-content-center">
        <div class="col-10 col-sm-8 col-md-4 float-left">
            <div class="card card-blog">
                <img class="card-image" src="{{profile?.avatar_url}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title text-center">{{profile?.name}}</h4>
                    <p class="locality card-text text-center">{{profile?.location}}</p>
                    <p class="card-text profission text-center">{{profile?.bio}}</p>

                    <!-- div class="ft" -->
                    <!-- div class="author" -->
                    <a href="{{profile?.links?.web}}" target="_blank" *ngIf="profile?.links?.web">
                        <div class="row margin-row-www">
                            <img src="src/assets/image/site.png" class="avatar img-raised">
                            <span class="text-vertical-center">web site</span>
                        </div>
                    </a>

                    <a href="{{profile?.links?.twitter}}" target="_blank" *ngIf="profile?.links?.twitter">
                        <div class="row">
                            <img src="src/assets/image/twitter.png" class="avatar img-raised">
                            <span class="text-vertical-center">twitter</span>
                        </div>
                    </a>
                    <!-- /div -->

                    <!-- iv class="stats">
                        <i class="fa fa-eye"></i> shot.views_count
                        <i class="fa fa-comment"></i> shot.comments_count
                        <i class="fa fa-heart"></i> shot.likes_count
                    </div -->

                    <!-- div>
                            <i class="fa fa-eye"></i> shot.views_count
                            <i class="fa fa-comment"></i> shot.comments_count
                        </div -->

                    <!-- /div -->
                    <!-- /div -->
                </div>
            </div>
        </div>

    </div>